{% extends 'base.html.twig' %}

{% block title %}Candidat index{% endblock %}

{% block body %}
    <h1>Candidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Niveau_etude</th>
                <th>Experience</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.niveauEtude ?? 'N/A' }}</td>
                <td>{{ candidat.experience ?? 'N/A' }}</td>
                <td>
                    {% if candidat.user %}
                        <a href="{{ path('app_candidat_show', {'id': candidat.id}) }}">show</a>
                        <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>
                    {% else %}
                        <span class="text-danger">No user</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidat_new') }}">Create new</a>
{% endblock %}