{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidature.id }}</td>
            </tr>
            <tr>
                <th>Date_candidature</th>
                <td>{{ candidature.dateCandidature ? candidature.dateCandidature|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ candidature.statut }}</td>
            </tr>
            <tr>
                <th>Cv_path</th>
                <td>{{ candidature.cvPath }}</td>
            </tr>
            <tr>
                <th>Cv_original_name</th>
                <td>{{ candidature.cvOriginalName }}</td>
            </tr>
            <tr>
                <th>Cv_size</th>
                <td>{{ candidature.cvSize }}</td>
            </tr>
            <tr>
                <th>Cv_uploaded_at</th>
                <td>{{ candidature.cvUploadedAt ? candidature.cvUploadedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Match_score</th>
                <td>{{ candidature.matchScore }}</td>
            </tr>
            <tr>
                <th>Match_updated_at</th>
                <td>{{ candidature.matchUpdatedAt ? candidature.matchUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Signature_request_id</th>
                <td>{{ candidature.signatureRequestId }}</td>
            </tr>
            <tr>
                <th>Contract_status</th>
                <td>{{ candidature.contractStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidature_index') }}">back to list</a>

    <a href="{{ path('app_candidature_edit', {'id': candidature.id}) }}">edit</a>

    {{ include('candidature/_delete_form.html.twig') }}
{% endblock %}
